body{
    background: #e8e9f0;
    /* background-image: url(/images/web\ development\ road\ map\ 7-7-22.jpg);
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-position: 40em 100em;
    background-position: center center; */
}
h3 {
    color: red;
    text-align: center;
}
#unique_idpractice{
    color: red;
    text-align: center;
}
div.akoi_stylealltag_classuse{
    color: blueviolet;
    text-align: right;
}
p.akoi_stylealltag_classuse{
    color: yellowgreen;
    text-align: center;
}
.akoi_stylealltag_classuse{
    background-color: whitesmoke;
}
#x_y_axis{
    color: green;
    text-align: center;
}
/* img{
    width: 50%;
} */

/* 4 video: Border, margin, padding */
h1{
    border: 2px solid red;
}
.border_style2{
    border: 2px dotted;
}
.border_style3{
    border: 2px dashed;
}
.border_style4{
    border: 2px double;
}
.border_style5{
    border: 2px groove;
}
.border_style6{
    border: 2px ridge;
}
.border_style7{
    border: 2px inset;
}
.border_style8{
    border: 2px outset;
}
.border_style9{
    border: 2px none;
}
.border_style10{
    border: 2px hidden;
}

/* Interesting topic: padding, margin */


